#toast {
  position: fixed;
  z-index: 1001;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgba(112, 116, 117, 0.25);
}
#toast button {
  background: none;
  font-size: 0.9rem;
  text-decoration: underline;
  font-weight: 600;
}
#toast ~ .navbar_component {
  top: 50px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

#toast ~ .hero-section {
  padding-top: 20px;
}

#toast button .mobile-text {
  display: none;
}
@media screen and (max-width: 800px) {
  #toast button .desktop-text {
    display: none;
  }

  #toast button .mobile-text {
    display: inline-flex;
  }
}
